[Desktop Entry]
Name=DOSBox Staging
Comment=DOS emulator
Exec=/usr/bin/dosbox-staging
Icon=org.dosbox-staging.dosbox-staging
Terminal=false
Type=Application
Categories=Game;Emulator;